# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=postgres://{your db user name}:{your password}@localhost:5432/overwatch_tracker?schema=public
SESSION_SECRET="s%3A432.D5egYRj1G7sJyfbyB7jDh7Gf"  # Don't use this in production!
```